// Internal variables
$x-color-white: #ffffff;
$x-color-gray: #454546;
$x-color-blue: #00b5d2;
$x-color-orange: #e1aa6e;
$x-transition-3s: all ease 0.3s;

// Global Variables
$palette-primary: $x-color-white;
$palette-secondary: $x-color-gray;
$palette-active: $x-color-blue;

// Font family
$font-family-primary: "Lato", sans-serif;

// Font size for titles
$font-size-title: 48px;

// Font size for subtitles
$font-size-subtitle: 18px;
$line-height-subtitle: 30px;

// basic settings
* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	font-family: $font-family-primary;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}





// scrollbar style
::-webkit-scrollbar {
	width: 15px;
	background-color: #131313;
}
::-webkit-scrollbar-thumb {
	background-color: #3f3f3f;
}




// connection font social icons
@font-face {
	font-family: "SocialIcons";
	src: url(./src/fonts/SocialIcons.otf) format("opentype");
}




// separate classes for multiple using
.container {
	max-width: 1140px;
	height: 100%;
	padding: 0 30px;
	margin: 0 auto;
}

.title {
	font-size: $font-size-title;
	text-transform: capitalize;
}

.subtitle {
	font-size: $font-size-subtitle;
	line-height: $line-height-subtitle;
}

.active__wrapper {
	padding-bottom: 13px;
	border-bottom: 4px solid $palette-active;
}

.btn {
	margin-top: 45px;
	padding: 18px 65px;
	border: none;
	cursor: pointer;
	font-size: 20px;
	color: $palette-primary;
	text-transform: uppercase;

	&:hover {
		top: 10px;
		position: relative;
		border-bottom: 0px;
		transition: all ease 0.1s;
	}
}

.btn-orange {
	background-color: $x-color-orange;
	border-bottom: 10px solid #ba8e5b;

	&:active {
		background-color: #f8bc7b;
	}
}

.btn-blue {
	background-color: $palette-active;
	border-bottom: 10px solid #008ea5;

	&:active {
		background-color: #01c7e6;
	}
}




// main sections
.header {
	height: 110px;
	width: 100%;
	position: fixed;
	z-index: 999;

	&::before {
		content: "";
		background-color: #0000002d;
		position: fixed;
		height: 110px;
		width: 100%;
		z-index: -1;
	}

	&__wrapper {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__nav {
		width: 284px;
		display: flex;
		justify-content: space-between;
		
		&__item {
			font-size: 16px;
			cursor: pointer;
			padding: 43px 0 43px 0;
			text-transform: uppercase;
			font-family: $font-family-primary;
			border-bottom: 5px solid #ffffff00;
			
			&__link {
				color: $palette-secondary;
			}

			&:hover {
				border-bottom: 5px solid $palette-active;
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
				transition: $x-transition-3s;
			}

			&:hover &__link {
				color: $palette-primary;
			}
		}
	}

	&__arrow {
		display: none;
		border: none;
		background-color: #32323200;
		height: 40px;
		width: 60px;

		&:active {
			background-color:  #32323221;
		}
		
		&__img {
			transform: scaleX(1.5) rotate(90deg);
			height: 30px;
			width: 30px;
		}
	}

	

	&-dropdown {
		display: none;

		&::before {
			content: "";
			background-color: #0000002d;
			position: fixed;
			height: 150px;
			width: 100%;
			z-index: -1;
		}

		&__content {
			width: 100%;
			height: 150px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;

			&__item {
				width: 100%;
				height: 40px;
				font-size: 16px;
				text-transform: uppercase;
				color: #454546;
				display: flex;
				align-items: center;
				justify-content: center;

				&:active {
					color: $palette-primary;
				}
			}
		}
	} 
}

.show {
	display: block;
}

.rotate {
	transform: scaleX(1.5) rotate(-90deg);
}

.section-first {
	width: 100%;
	height: 660px;
	color: $palette-primary;
	background-position: top;
	background-repeat: no-repeat;
	background-image: url(./src/img/boy.jpg);
	background-color: rgb(190, 100, 46);

	&__title {
		padding-top: 240px;
		font-weight: 900;
		font-size: 48px;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	}

	&__subtitle {
		margin-top: 37px;
		max-width: 460px;
		font-size: $font-size-subtitle;
		line-height: $line-height-subtitle;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	}
}

.brands-container {
	max-width: 1200px;
	padding: 0 30px;
	margin: 0 auto;
}

.section-brands {
	height: 100px;
	background-color: #fafafa;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;

	&__brand {
		padding: 25px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&__img {
			filter: contrast(0%);
			-webkit-filter: contrast(0%);
			transition: $x-transition-3s;

			&:hover {
				filter: none;
			}
		}
	}
}

.section-second {
	background-color: $palette-active;

	&__wrapper {
		color: $palette-primary;
		text-align: center;

		&__title {
			padding-top: 90px;
			font-size: $font-size-title;
			line-height: 54px;
			font-weight: 900;
		}

		&__subtitle {
			margin-top: 35px;
			font-size: $font-size-subtitle;
			line-height: $line-height-subtitle;
		}

		&__img {
			width: 100%;
			margin-top: 70px;
			margin-bottom: -13px;
		}
	}
}

.section-third {
	height: 360px;
	padding-top: 65px;
	background-color: $palette-primary;

	&__wrapper {
		background-color: $palette-primary;
		text-align: center;

		&__title {
			font-size: 24px;
			font-weight: 700;
			color: #777777;
		}

		&__subtitle {
			margin-top: 30px;
			font-size: $font-size-subtitle;
			color: #444444;
			line-height: $line-height-subtitle;
		}

		&__btn {
			padding: 18px 81px;
			margin-top: 35px;
		}
	}
}

.section-fourth {
	width: 100%;
	background-color: #1d97c5;
	background-position: top;
	background-repeat: no-repeat;
	background-image: url(./src/img/blue_back.jpg);

	&__wrapper {
		display: flex;
		align-items: center;
		flex-direction: column;

		&__title {
			padding-top: 55px;
			font-weight: 900;
			color: $palette-primary;
			text-transform: capitalize;
			font-size: $font-size-title;
		}

		&__frame {
			position: relative;
			top: 50px;
			border: 8px solid $palette-primary;

			&__img {
				width: 100%;
			}
		}
	}
}

.section-fifth {
	height: 440px;
	margin-top: 112px;
	display: flex;
	justify-content: space-between;
	color: $palette-primary;
	background-color: #367ab7;
	margin-bottom: 60px;

	&__left {
		width: 50%;
		overflow: hidden;
		text-align: right;

		&__img {
			height: 100%;
		}
	}

	&__right {
		width: 50%;
		padding: 0 30px;

		&__comment {
			margin-top: 30px;
			font-weight: normal;
			font-style: italic;
			max-width: 465px;
		}

		&__title {
			font-weight: 900;
			margin-top: 25px;
			margin-bottom: 32px;
		}

		&__subtitle {
			max-width: 465px;
		}

		&__btn {
			padding: 18px 27px;
		}
	}
}

.footer {
	border-top: 3px solid #cccccc;
	padding-bottom: 50px;
	color: #999999;
	text-align: center;

	&__nav {
		margin: 0 auto;
		margin-top: 45px;
		margin-bottom: 43px;
		display: flex;
		max-width: 450px;
		justify-content: space-between;

		&__item {
			&__link {
				font-weight: 700;
				text-transform: uppercase;
				color: #999999;
				text-decoration: none;
				transition: $x-transition-3s;

				&:hover {
					color: #000000;
				}
			}
		}
	}

	&__socials {
		color: #000000;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		max-width: 180px;

		&__item {
			font-size: 24px;
			color: #000000;
			font-family: "SocialIcons";
			transition: $x-transition-3s;
			filter: contrast(0%);
			-webkit-filter: contrast(0%);

			&:hover {
				filter: none;
			}
		}
	}

	&__address {
		margin-top: 40px;
		font-size: 14px;
		letter-spacing: 0.5px;
		margin-bottom: 22px;
	}

	&__location {
		margin-bottom: 22px;
	}

	&__email {
		font-weight: 700;
		text-decoration: none;
		color: $palette-primary;
		color: $x-color-orange;
		font-size: 16px;
	}
}

.footer-line {
	margin: 0 auto;
	width: 70%;
	max-width: 950px;
	border: none;
    background-color: #cccccc;
    height: 1px;
}

.subfooter {
	color: #999999;
	display: block;
	text-align: center;
	margin: 30px 0 50px 0;
	text-transform: capitalize;
	font-size: 12px;
	letter-spacing: 0.5px;
}






/* -------------- adaptability -------------- */

@media (max-width: 1040px) {
	.section-fifth {
		height: 500px;
	}
}

@media (max-width: 865px) {
	.section-fifth {
		height: 530px;

		&__left__img {
			position: relative;
			right: 100px;
		}
	}
}

@media (max-width: 830px) {
	.section-third {
		height: 420px;
	}
}

@media (max-width: 780px) {
	.header {
		&__wrapper {
			flex-direction: column;
			justify-content: space-around;
		}
		&__nav__item {
			padding: 10px 0 10px 0;
		}
	}

	.section-fourth {
		&__wrapper__title {
			padding-top: 45px;
			font-size: 36px;
		}

		&__wrapper__frame {
			top: 30px;
		}
	}

	.section-fifth {
		height: 580px;

		&__left__img {
			right: 150px;
		}
		&__right__title {
			font-size: 36px;
		}
	}

	.footer {
		&__nav {
			max-width: 550px;

			&__item__link {
				font-size: 20px;
			}
		}

		&__socials {
			max-width: 220px;

			&__item {
				font-size: 36px;
			}
		}

		&__address {
			font-size: 18px;
		}

		&__location {
			margin-bottom: 22px;
		}

		&__email {
			font-size: 20px;
		}
	}

	.subfooter {
		font-size: 16px;
	}
}

@media (max-width: 654px) {
	.section-fifth {
		height: 600px;

		&__left__img {
			right: 200px;
		}
		&__right__title {
			font-size: 36px;
		}
	}
}

@media (max-width: 620px) {
	.section-first {
		text-align: center;

		&__subtitle {
			max-width: 100%;
			font-size: 20px;
		}
	}

	.section-fifth {
		height: 100%;
		flex-direction: column;

		&__left {
			width: 100%;
			text-align: center;

			&__img {
				width: 100%;
				right: 0;
			}
		}

		&__right {
			width: 100%;
			text-align: center;

			&__comment {
				max-width: 100%;
			}

			&__subtitle {
				max-width: 100%;
			}

			&__btn {
				margin-bottom: 40px;
			}
		}
	}
}

@media (max-width: 470px) {
	.section-third {
		height: 460px;
	}

	.footer {
		&__nav {
			flex-direction: column;

			&__item {
				margin-bottom: 15px;
			}
		}

		&__socials {
			max-width: 220px;

			&__item {
				font-size: 36px;
			}
		}

		&__address {
			font-size: 18px;
		}

		&__location {
			margin-bottom: 22px;
		}

		&__email {
			font-size: 20px;
		}
	}
}

@media (max-width: 430px) {

	.header {
		&__logo__img {
			width: 100%;
			position: relative;
			top: 10px;
		}

		&__nav {
			display: none;
		}

		&__arrow {
			display: block;	
		}
	}

	.section-third {
		height: 480px;
		padding-top: 45px;

		&__wrapper__title {
			font-size: 24px;
			font-weight: 700;
		}

		&__subtitle {
			margin-top: 30px;
		}
	}
}

@media (max-width: 350px) {
	.container {
		padding: 0 15px;
	}
	
	.section-first {
		&__title {
			padding-top: 180px;
			font-size: 36px;
		}

		&__btn {
			padding: 18px 40px;
		}
	}

	.section-second__wrapper {
		&__title {
			padding-top: 60px;
			font-size: 36px;
		}

		&__btn {
			padding: 18px 40px;
		}
	}

	.section-third {
		height: 520px;
		&__wrapper__btn {
			padding: 18px 40px;
		}
	}

	.section-fourth__wrapper {
		&__title {
			font-size: 24px;
		}
	}

	.section-fifth {
		&__right__btn {
			padding: 18px 10px;
		}
	}
}
